@{
    ViewData["Title"] = "Sarah's Movies";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sarah's Movies</h1>
    <p> Get ready to explore some great movie options from all genres </p>
</div>
